<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <title>Chat App</title>
</head>
<body>
    
    <main>
        <div class="mobile">
            <div class="navigation">
                <span class="time">11:50</span>
                <span><span class="network">LTE </span>📶🪫</span>
            </div>